<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> CV Template </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <div class="row">
            <!-- Left Column -->
            <div id="left-column" class="col-4 col-md-3">
                <img src="./img/me.png" alt="cv">
                <div class="contact-info">
                    <h3>Contact</h3>
                    <hr class="separator">

                    <div class="container">
                        <ul>
                            <li>
                                <strong>Phone:</strong> 
                                {{ contact.phone }}
                            </li>
                            <li>
                                <strong>Email:</strong> 
                                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                            </li>
                            <li v-if="githubLink">
                                <a :href="githubLink">GitHub</a>
                            </li>
                            <li v-if="linkedinLink">
                                <a :href="linkedinLink">LinkedIn</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Right Column -->
            <div id="right-column" class="col-8 col-md-9">
                <!-- Introduccion -->
                <div id="intro" class="container p-4">
                    <div class="row justify-content-around">
                        <div class="col-12 col-md-5">
                            <p id="name">
                                <span>{{ firstName }} </span> {{ lastName }}
                            </p>
                            <p id="academy-title">
                                <span>{{ academyTitle }}</span>
                            </p>
                            <p id="job-title">
                                <span>{{ jobTitle }}</span>
                            </p>
                        </div>
                        <div class="profile col-12 col-md-7">
                            {{ profile }}
                        </div>
                    </div>
                </div>

                <!-- Secciones dinámicas -->
                <div v-for="(section, index) in sections" :key="index" class="section container p-4">
                    <h3 class="section-title mb-1">{{ section.title }}</h3>
                    <hr class="separator">
                    <ul class="list-group list-group-flush">
                        <li v-for="(task, taskIndex) in section.tasks" :key="taskIndex"
                            class="section-item list-group-item">
                            <h4 class="section-detail">{{ section.detail }}</h4>
                            <div class="d-flex justify-content-between">
                                <span class="section-extra-detail">{{ section.extraDetail }}</span>
                            </div>
                            <ul class="section-item-list">
                                <li v-for="(task, taskIndex) in section.tasks" :key="taskIndex">{{ task }}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <button id="btn-print" class="btn btn-primary" @click="printCV">Imprimir</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                firstName: '',
                lastName: '',
                profile: '',
                academyTitle: '',
                jobTitle: '',
                contact: {},
                sections: []
            },
            mounted() {
                // Load JSON data
                fetch('cv.json')
                    .then(response => response.json())
                    .then(data => {
                        this.firstName = data.firstName;
                        this.lastName = data.lastName;
                        this.profile = data.profile;
                        this.academyTitle = data.academyTitle;
                        this.jobTitle = data.jobTitle;
                        this.contact = data.contact;
                        this.sections = data.sections;
                    })
                    .catch(error => console.error('Error loading JSON:', error));
            },
            methods: {
                printCV() {
                    window.print();
                }
            },
            computed: {
                githubLink() {
                    return this.contact.socialMedia && this.contact.socialMedia.github ? this.contact.socialMedia.github : '';
                },
                linkedinLink() {
                    return this.contact.socialMedia && this.contact.socialMedia.linkedin ? this.contact.socialMedia.linkedin : '';
                }
            }
        });
    </script>
</body>

</html>